* {
    margin: 0;
    padding: 0;
    font-family: "Agency FB";
    background-color: #bfc3c2;
}

body {
    text-align:center;
}

.post-adding {
    margin: 0 auto;
    width: 41%;
    padding: 5% 0 0 0;
}

.add-subject, .add-message, .add-btn, .checkRule {
    background-color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 4.5%;
    width: 60%;
    border: 0.2px solid rgba(29, 4, 5, 0.94);
}

.add-checkRule {
    border: none;
    font-size: 12px;
}
.add-btn {
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #1d0405;
}
.add-btn:disabled {
    background: #CCC;
    color: #999;
}

.add-message {
    resize: none;
}


.menu {
    min-width: 40%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1%;
}

.menu li{
    background: #1d0405;
    padding: 2%;
    list-style: none;
    display: inline;
}

.menu li a {
    background-image: none;
    background: #007DDC;
    color: #ffff;
    cursor: pointer;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    border: 0;
    font-size: large;
    text-decoration: none;
}

.publication {
    padding: 3%;
}

.counter {
    padding-bottom: 20px;
    font-size: 20px;
    position: static;
}

.post-subject {
    float:left;
}